<div class="links">
  <a [routerLink]="['/']">
    {{title}}
  </a>
  <a [routerLink]="['/operators']">
    Operators test
  </a>
</div>

<div class="btn-wrapper">
  <button class="test1">Test 1</button>
</div>
<div class="btn-wrapper">
  <button class="test2">Test 2</button>
</div>
<div class="btn-wrapper">
  <button class="test3">Test 3</button>
</div>
<div class="btn-wrapper">
  <input type="text" class="test4" placeholder="Test 4">
</div>
<div class="btn-wrapper">
  <button class="test5">Test 5</button>
</div>
<div class="btn-wrapper">
  <input type="text" class="test6" placeholder="Test 6">
</div>
<div class="btn-wrapper">
  <button id="decrease">-</button>
  <span id="count"></span>
  <button id="increase">+</button>
</div>